*
!*.*
!*/

!Makefile

*.pb.go
*.micro.go

.idea
.idea/*

*.exe
.exe
.exe~

vendor
*.db
go.sum

.DS_Store
*/.DS_Store

*.log
.log.*

webproxy/WebProxy.log
webproxy/WebProxy.log.*

api/webproxy/WebProxy.log
api/*/*.log

*.zip

*/logs
ego.sys

node_modules

.vscode